* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  height: 50px;      /* ajusta el tamaño */
  width: auto;       /* mantiene proporción */
}

.equipos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.equipo {
  background: var(--blanco);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.equipo:hover {
  transform: translateY(-5px);
}

.equipo img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.equipo h3 {
  margin: 15px 0 5px;
}

.equipo p {
  color: var(--naranja);
  font-weight: bold;
  margin-bottom: 15px;
}

.cotizar {
  display: inline-block;
  margin-bottom: 20px;
  background: var(--naranja);
}

.cotizar:hover {
  background: #d97706;
}
:root {
  --naranja: #f28c28;
  --oscuro: #1f2933;
  --claro: #f3f4f6;
  --blanco: #ffffff;
}

.nosotros {
  background: 
    linear-gradient(
      rgba(31, 41, 51, 0.85),
      rgba(31, 41, 51, 0.85)
    ),
    url("img/nosotros.jpg");

  background-size: cover;
  background-position: center;
  color: var(--blanco);
}

body {
  line-height: 1.6;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.header {
  background: var(--oscuro);
  color: var(--blanco);
}


.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  background: linear-gradient(
    rgba(31, 41, 51, 0.85),
    rgba(31, 41, 51, 0.85)
  );
  color: var(--blanco);
}


.hero-content {
  width: 100%;
}

.section {
  padding: 60px 0;
}

.gray {
  background: var(--claro);
}


.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: var(--blanco);
  padding: 20px;
  border-left: 6px solid var(--naranja);
}

.btn {
  background: var(--naranja);
  color: var(--blanco);
  transition: background 0.3s ease;
}

.whatsapp {
  background: #25d366;
}

.footer {
  background: var(--oscuro);
  color: var(--blanco);
}


